body {
    margin: 0;
    background: #000;
}

div.console {
    margin: 5% auto;
    width: 50%;
    font-family: monospace;
    font-size: 1.2em;
    color: #fff;
}

span {
    line-height: 1.5em;
    vertical-align: bottom;
}

span.ps {
    color: #2f2;
}

a:link, a:active, a:visited {
    color: #28f;
    text-decoration: none;
}

a:hover {
    color: #fff;
}
