body {
    margin: 0;
    background: #0a0421;
}

div.console {
    margin: 5% auto;
    width: 50%;
    font-family: 'Roboto Mono';
    font-size: 1.0em;
    color: #fff;
}

span {
    line-height: 1.5em;
    vertical-align: bottom;
}

pre {
    margin: auto;
    font-size: 1.4em;
    color: #2ff;
}

span.ps {
    color: #e3e;
}

a:link, a:active, a:visited {
    color: #2ff;
    text-decoration: none;
}

a:hover {
    color: #fff;
}
